.detailContainer {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../assets/W14.jpg);
  background-size: cover; /* Ajusta el tamaño de la imagen de fondo según el contenedor */
  background-position: center center;
  height: 100vh;
}

.detailContainerData {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
}
.detailContainerData img {
  width: 330px;
  height: 493px;
  object-fit: cover;
}

.detailData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente negro */
  color: white;
  height: 100%;
}
.detailData div {
  margin: 1rem 2rem;
}
