.cardContainer {
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid red;
  margin: 2rem 1rem;
}

.cardImg {
  border-radius: 20%;
  width: 150px;
  height: 200px;

  overflow: hidden;
}
.link {
  text-decoration: none;
}
.teamList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.teamLi {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}
