.formViewContainer {
  margin-top: 75px;
  background-image: url(../../assets/W14.jpg);
  background-size: cover; /* Ajusta el tamaño de la imagen de fondo según el contenedor */
  background-position: center center;
}
/* 
.formContainer {
  display: flex;
  flex-direction: column;
  border-radius: 1px solid red;
  width: 250px;
} */
.formContainer {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem 5rem;
  background-image: linear-gradient(
    to right,

    #c86468,
    #da787b66,
    #d17378
  );
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formContainer label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formContainer input,
.formContainer textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formContainer .errorMessage {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.formContainer button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.formContainer button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.formContainer div {
  margin: 0.5rem;
}
